@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime;

<div class="page">
    <div class="sidebar">
        <Navbar @ref="_navbar" OnSelectedGuildIdChanged="OnSelectedGuildIdChanged" />
    </div>

    <main>
        <article class="content px-4 my-5">
	        <CascadingValue Name="GuildId" TValue="ulong" Value="_navbar.SelectedGuildId">
		        @Body
	        </CascadingValue>
        </article>
    </main>
</div>

@code {
	Navbar _navbar = new();
	
	public void OnSelectedGuildIdChanged() => StateHasChanged();

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		await base.OnAfterRenderAsync(firstRender);
		
		if (firstRender)
		{
			await JsRuntime.InvokeVoidAsync("setMainLayout", "fluid");
			await JsRuntime.InvokeVoidAsync("loadCss", "css/layout.css");
		}
	}

}